*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-family:Arial, Helvetica, sans-serif;
}
.clear{
  clear: both;
}

.row{
  margin-left: -8px;
  margin-right: -8px;
}

.col{
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-full{
  width: 100%;
}

.col-third{
  width: 33.3333%;
}

.col-half{
  width: 50%;
}

.row::after{
  content: '';
  display: block;
  clear: both;
}

.mt-8{
  margin-top:8px !important;
}

.mt-16{
  margin-top:16px !important;
}

.pull-right{
  float: right !important;
}

.header{
  height: 46px;
  background:black;
  position:fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav, .subnav{
  list-style: none;
}

.nav{
  display: inline-block;
}

.nav > li{
  display: inline-block;
}

.nav li{
  position: relative;
}

.nav > li > a{
  text-transform:uppercase;
}

.nav > li:hover > a, 
.nav .subnav li:hover a{
  color:black;
  background:darkgrey;
}

.nav li a{
  color: #fff;
  line-height: 46px;
  text-decoration: none;
  padding:0 24px;
  display: block;
}

.nav > li:hover .subnav{
  display: block;
}

.nav .subnav{
  position:absolute;
  display: none;
  background:#fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  min-width: 160px;
  top: 100%;
  left: 0;
}

.nav .subnav a{
  color: black;
  padding:0 12px;
  line-height: 38px;
}

.nav > li > a .fa-sort-down{
  font-size: 20px;
}

.header .search-btn,
.header .menu-btn {
  padding:0 21px;
  float: right;
}
.header .menu-btn{
  position: absolute;
  right: 0;
  top:0;
  display: none;
}
.header .search-btn:hover,
.header .menu-btn:hover{
  background:#009688;
  cursor: pointer;
}

.header .search-btn,
.header .menu-btn{
  font-size:20px;
  color:white;
  line-height:46px;
}
/* Slider */
.slider{
  position: relative;
  margin-top: 46px;
  padding-top:50%;
  background: url('/img/brand.jpg') top center / cover no-repeat;
}

.slider .text-content{
  position: absolute;
  bottom: 47px;
  color: #fff;
  width: 100%;
  text-align: center;
}

.slider .text-heading{
  font-size: 24px;
  padding-bottom: 10px;
}


.content .content-section{
  width: 800px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 64px 0 112px;
  padding-left: 16px;
  padding-right: 16px;
}

.content .sectioon-heading{
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 5px;
}

.content .section-sub-heading{
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}

.content .about-text{
  margin-top: 25px;
  text-align: justify;
  line-height: 1.4;
}

.content .member-list{
  margin-top: 48px;
}

.content .member-item{
  width: 33.3333%;
  float: left;
  text-align: center;
}

.content .member-name{
  font-size: 15px;
}

.content .member-img{
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}

/* Tour */
.tour-section{
  background-color: black;
  color: #fff;
}

.tickets-list{
  background-color: #fff;
  margin-top: 25px;
}

.tickets-list li {
  list-style: none;
  color:#757575;
  padding: 11px 16px;
  border-bottom: 1px solid black;
}

.tickets-list .sold-out{
  background-color: red;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}

.tickets-list .quantity{
  float: right;
  background-color: black;
  color: #fff;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  margin-top: -3px;
}
/* Place */
.place-list{
  margin-top:32px;
}

.place-img{
  width: 100%;
  display: block;
  height: 180px;
}

.place-img:hover{
  opacity: 0.6;
}

.place-body{
  background-color: #fff;
  color: black;
  padding: 16px;
  font-size: 15px;
}

.place-heading{
  font-weight: 600;
}

.place-time{
  margin-top: 15px;
  color: #757575;
}

.place-desc{
  margin-top: 15px;
} 

.btn{
  text-decoration: none;
  background-color: black;
  color: #fff;
  padding: 11px 16px ;
  display: inline-block;
  margin-top: 18px;
  border: none;
}

.btn:hover{
  color: #fff;
  background: #009688;
  ;
}

/* Modal */
.modal{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal.open{
  display: flex;
}

.modal-container{
  background-color: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 200px;
  border-radius: 5px;
  position: relative;
  animation: modalFadeIn ease .5s;
}
.modal-header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  background: #009688;
  font-size: 30px;
  color: #fff;
}

.modal-icon{
  margin-right: 16px;
}

.modal-close{
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  font-size: 20px;
  cursor: pointer;
}

.modal-body{
  padding: 16px;
}

.modal-label{
  display: block;
  margin-bottom: 12px;
}
.modal-input{
  padding:10px;
  border:1px solid #ccc;
  width: 100%;
  font-size: 15px;
  margin-bottom: 20px;
}

.btn-tickets{
  width: 100%;
  height: 50px;
  background:#009688;
  color: #fff;
  border:none;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-tickets:hover{
  background: #757575;
  color: black;
}
.modal-footer{
  padding: 16px;
  text-align: right;
}

.modal-footer a{
  color: #2196F3;
}

.contact-content{
  margin-top: 48px;
}

.contact-info{
  font-size: 18px;
  line-height: 1.5;
}

.contact-info i[class*="fa-"]{
  width: 30px;
  display: inline-block;
}

.contact-form{
  font-size: 15px;
}

.contact-form .form-control{
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.map-section img{
  width: 100%;
}

/* Footer */
.footer{
  padding: 64px 16px;
  text-align: center;
}

.footer .sociala-list{
  font-size: 28px;
}

.footer .sociala-list a{
  color: #009688;
  text-decoration: none;
}

.footer .sociala-list a:hover{
  color: rgba(0,0,0,0.6);
}

.footer .copyright{
  color: rgba(0,0,0,0.6);
  margin-top: 15px;
}

.footer .copyright a{
  color: rgba(0,0,0,0.6);
}

@keyframes modalFadeIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}


